html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Source Sans Pro", "Hiragino Sans GB", Lucida, Helvetica, Tahoma, "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #0f0f0f;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#loading {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homeView, #mainView {
  width: 100%;
  height: 100%;
}

#textInput {
  display: none;
  background: transparent;
  width: 80%;
  height: 160px;
  outline: none;
  resize: none;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  z-index: 9900;
}

.scrolltop {
  font-size: 12px;
  color: #ffffff;
  width: 80px;
  height: 30px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.scrolltop .arrow {
  margin-top: 10px;
  transform: rotate(90deg);
  animation: down 1s infinite linear;
  -webkit-animation: down 1s infinite linear;
}

@-webkit-keyframes down {
  0% {
    transform: rotate(90deg) translateX(0%);
  }
  100% {
    transform: rotate(90deg) translateX(20%);
  }
}
@keyframes down {
  0% {
    transform: rotate(90deg) translateX(0%);
  }
  100% {
    transform: rotate(90deg) translateX(20%);
  }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: #c5c5c5;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c5c5c5;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c5c5c5;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #c5c5c5;
}